.dashboard{
    overflow-y: scroll;
}

.members-list{
    /* background: red; */
    width: 100%;
    height: 100%;
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.members-list .card{
    cursor: pointer;
    color: #fff;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(#3498Db,#2d6083);
    width: 30%;
    height: 20vh;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.5s;
    position: relative;
}

.members-list .card:hover{
    transform: scale(1.1);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}




.members-list .card img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.members-list .card .tag{
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(205, 56, 250);
    padding: 10px 20px;
    border-radius:5px 10px 5px;
    border:2px solid rgb(255, 255, 255);
    border-top: none;
    border-right: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@media screen and (max-width:500px) {
    
.members-list{
    /* background: red; */
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
}

.members-list .card{
    cursor: pointer;
    color: #fff;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(#3498Db,#2d6083);
    width: 100%;
    border-radius: 10px;
    padding: 10px 30px;
    transition: 0.5s;
}

.members-list .card:hover{
    transform: scale(1.1);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}




.members-list .card img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
}

