


.task-header{
  padding: 10px 25px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}
.date{
  width: 340px;
  margin-right: 10px;
}
.data .pstatus{
  font-size: 14px;
  font-weight: bold;
}
.priority{
  color: #fff;
  
}

.task-header .header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-reports .btn-group {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.add-btn{
  position: absolute;
  top: 25px;
  right: 20px;
}

 .btn {
  background: pink;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.add-task{
  background: rgb(92, 92, 92);
}

.all-reports .delete {
  background: rgb(252, 63, 63);
}

.all-reports .update {
  background: rgb(18, 223, 144);
}

.all-reports .input-status {
  width: 100px;
  padding: 10px 20px;
  background: rgba(248, 248, 248, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  outline: none;

}
.all-reports .input-status::placeholder{
  color: rgb(212, 212, 212);
}